[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-assets = "*"
flask-babel = "*"
flask-cors = "*"
flask-login = "*"
flask-migrate = "*"
flask-moment = "*"
flask-sqlalchemy = "*"
flask-whooshee = "*"
python-slugify = "*"
pyyaml = "*"
six = "*"
marko = "*"
gunicorn = {version="*", sys_platform="!='win32'"}
psycopg2-binary = "*"
cssmin = "*"
jsmin = "*"
qcloud-python-sts = "*"
faker = "*"

[dev-packages]
flake8 = "*"
flask-shell-ipython = "*"
appnope = {version="*", sys_platform="=='darwin'"}
mypy = "*"
