{% macro disqus(page) %}
<section class="comments">
  <div id="disqus_thread"></div>
</section>

<script>
  disqus_shortname = '{{integration.disqus.shortname}}';
  disqus_page_url = '{{request.url}}'; // optional
  disqus_page_title = '{{page.title}}'; // optional

</script>
<script src="//a.typcdn.com/embed/disqus.js"></script>
{% endmacro %}

{% macro render_comment_item(item, is_top=True) %}
<div class="media">
  <img class="gravatar mr-2" src="{{item.author.avatar}}" class="mr-3" alt="{{item.author.display_name}}">
  <div class="media-body">
    <div>
      <div class="float-right">
        <span class="comment-hidden d-lg-none">
          <a href="#native-comment" data-id="{{item.id}}" data-author="{{item.author.display_name}}">{{_('Reply')}}</a>
        </span>
        {% if is_top-%}<a href="#post-comment-{{item.floor}}"># {{item.floor}}</a>{%-endif %}
      </div>
      {% if item.author.link-%}<a class="person-link" href="{{ item.author.link }}">{%-endif %}
      <strong>{{ item.author.display_name }}</strong>
      {% if item.author.link-%}</a>{%-endif %}
      {%-if item.author.is_admin-%}
      <span class="text-success">({{ _('Admin') }})</span>
      {%-endif-%}
      {%-if item.parent-%}<span class="ml-1 fa fa-share"> @{{ item.parent.author.display_name }}</span>{%-endif-%}
    </div>
    <time datetime="{{item.create_at}}">{{moment(item.create_at).fromNow()}}</time>
    <div class="comment-body mt-2">
      {{ item.html|safe }}
    </div>
  </div>
</div>
{% endmacro %}

{% macro render_comments(post, items, count) %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<section class="comments" id="native-comment">
  <div class="mb-4">
    {% if not current_user.is_authenticated %}
    <div class="bg-light text-center p-4">
      <p>{{_('Please login before comment')}}</p>
      <form role="login" class="form-inline justify-content-center mb-4">
        <input type="text" class="form-control mr-sm-2" name="username" placeholder="{{_('Username(Required)')}}" required>
        <input type="text" class="form-control mr-sm-2" name="email" placeholder="{{_('Email(Required)')}}" required>
        <input type="text" class="form-control mr-sm-2" name="link" placeholder="{{_('Website(Optional)')}}">
        <button class="btn btn-primary">{{_('Login')}}</button>
      </form>
      <div>
        <span class="d-sm-block d-lg-inline">{{_('Or login with')}}</span>
        <a href="{{url_for('auth.github_login')}}" class="btn btn-primary"><i class="fa fa-github"></i> Github</a>
        <a href="{{url_for('auth.google_login')}}" class="btn btn-primary"><i class="fa fa-google"></i> Google</a>
      </div>
    </div>
    {% else %}
    <form role="comment">
      <input type="hidden" name="post_id" value="{{post.id}}">
      <input type="hidden" name="parent_id" value="">
      <textarea name="content" placeholder="{{_('Type with markdown syntax')}}"></textarea>
      <div class="d-flex justify-content-between">
        <div>
          <strong>{{ current_user.display_name }}</strong>
          {%-if current_user.is_admin-%}
          <span class="text-success">({{ _('Admin') }})</span>
          {%-endif-%}
          <button class="btn btn-light btn-sm ml-2 d-none" type="button" name="reply"><i class="fa fa-share"></i>@<span
              id="reply-to"></span></button>
        </div>
        <button class="btn btn-primary" type="submit" name="comment">{{_('Comment')}}</button>
      </div>
    </form>
    <script>
      var simplemde = new SimpleMDE({ spellChecker: false });

    </script>
    {% endif %}
  </div>
  <div>
    <div>{{ngettext('%(num)d comment', '%(num)d comments', count)}}</div>
    {% for item in items %}
    <div class="comment-item py-4" id="post-comment-{{item.floor}}">
      {{ render_comment_item(item) }}
      {% for child in item.children %}
      <div class="comment-item py-2 ml-4 ml-lg-5">
        {{ render_comment_item(child, False) }}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</section>

<script>
  $(function () {
    $('form[role=login]').submit(function (e) {
      e.preventDefault();
      fetch('/auth/login', {
        method: 'post',
        body: new FormData(this)
      }).then(_ => {
        location.reload();
      });
    });

    $('form[role=comment]').submit(function (e) {
      e.preventDefault();
      fetch('/comment', {
        method: 'post',
        body: new FormData(this)
      }).then(_ => {
        location.reload();
      });
    });

    $('[data-author]').click(function () {
      $('#reply-to').text($(this).data('author')).parent().removeClass('d-none');
      $('input[name=parent_id]').val($(this).data('id'));
    });
    $('#reply-to').parent().click(function () {
      $(this).addClass('d-none');
      $('#reply-to').text('');
      $('input[name=parent_id]').val('');
      return false;
    })
  });

</script>
{% endmacro %}
