<a class="navbar-brand" href="{{ url_for('home') }}">
  <img src="{{ url_for('static', filename='images/favicon.png') }}" width="40" height="40" class="d-inline-block" alt="">
  <span class="heading">{{g.site.name}}</span></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse align-items-center justify-content-between" id="navbarNavAltMarkup">
  <div class="navbar-nav">
    <a href="{{url_for('archive')}}" class="nav-item nav-link">{{_('Archive')}}</a>
    {% for item in pages %}
      {% if item.display %}
      <a href="/{{ item.slug }}" class="nav-item nav-link">{{_(item.title)|title}}</a>
      {% endif %}
    {% endfor %}
  </div>
  <form class="form-inline my-2 my-lg-0" action="{{url_for('search')}}">
    <input class="form-control mr-sm-2" type="search" name="search" aria-label="Search" required>
    <button class="btn btn-dark my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
  </form>
</div>
