.post-text.yue,
.yue h1,
.yue h2,
.yue h3,
.yue h4,
.yue h5,
.yue h6 {
  font-family: inherit;
}
blockquote {
  padding-left: .75em;
  border-left: 5px #eeeeee solid;
  color: #888888;
}

.yue blockquote {
  position: relative;
  padding: .4em 0 0 2em;
  font-size: .96em;
}

.pangu {
  margin-left: .12em;
  margin-right: .12em;
}

figure img {
  margin-bottom: 0;
  cursor: pointer;
}

.photo-set figure figcaption {
  position: absolute;
  left: 3px;
  right: 3px;
  bottom: 3px;
  width: auto;
  margin: 0;
  padding: 60px 0 10px;
  color: #fff;
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, rgba(0, 0, 0, .03) 26%, rgba(0, 0, 0, .4) 71%, rgba(0, 0, 0, .5));
  opacity: .6;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.photo-set figure:hover figcaption {
  opacity: 1;
}

.yue a:hover {
  color: rgba(0, 0, 0, .6);
  border-color: rgba(0, 0, 0, .6);
}

.yue .footnotes {
  font-size: 90%;
  line-height: 1.32;
  opacity: .96;
}

.post-text hr {
  display: block;
  border: 0;
  margin: 2.24em auto 2.86em;
}

.post-text hr::after {
  color: rgba(0, 0, 0, .2);
  font-size: 1.1em;
  display: block;
  content: "* * * * *";
  text-align: center;
}

.yue .footnotes::before {
  content: "";
  display: block;
  border-top: 4px solid rgba(0, 0, 0, .1);
  width: 50%;
  max-width: 100px;
  margin: 40px 0 20px;
}

.post-text .footnote-ref>a {
  display: inline-block;
  text-indent: 0;
  width: 14px;
  text-align: center;
  font: 700 8px/14px -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Droid Sans Fallback, Microsoft YaHei, sans-serif;
  border-bottom: 0;
  background-color: rgba(0, 0, 0, .18);
  color: #fff;
  border-radius: 14px;
  vertical-align: middle;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}

.post-text .footnote-ref>a:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, .98);
}

.footnotes a[href^="#fnref"] {
  border-bottom: 0;
}

.yue a {
  color: rgba(0, 0, 0, .98);
  word-wrap: break-word;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, .26);
}

.post-title {
  margin-top: .65em;
  margin-bottom: .5em;
  font-weight: 900;
}

.post-subtitle {
  margin-bottom: 2em;
  font-weight: 300;
  font-size: 1.65em;
  color: rgba(0, 0, 0, .45);
}

.photo-set figure {
  position: relative;
  padding: 3px 0px;
  margin: 0;
}

.photo-set figure:first-of-type {
  padding-left: 0;
}

.photo-set figure:last-of-type {
  padding-right: 0;
}

.photo-set {
  margin: 50px -15px;
}

.photo-set+.photo-set {
  margin-top: -50px;
}

@media (min-width: 992px) {
  .photo-set figure {
    padding: 3px 3px;
  }

  .photo-set {
    margin-left: -3rem;
    margin-right: -3rem;
  }
}

.post-toc {
  top: 70px;
  font-weight: 300;
}

.toc-head {
  margin-bottom: 20px;
}

#table-of-content .list-group-item {
  color: #888888;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

#table-of-content .list-group-item:hover {
  border-left: 2px var(--primary-color) solid;
  color: #444444;
}

#table-of-content .list-group-item.active {
  font-weight: 600;
  border-left: 3px var(--primary-color) solid;
  background-color: transparent;
  color: #444444;
}

#table-of-content>.list-group-item {
  padding: 2px 10px;
}

#table-of-content>.list-group>.list-group-item {
  padding: 3px 40px;
  font-size: .9em;
}

#table-of-content>.list-group>.list-group>.list-group-item {
  padding: 3px 50px;
  font-size: .8em;
}

.post-toc #table-of-content {
  border-left: 1px rgba(0, 0, 0, .1) solid;
}

#table-of-content .list-group {
  display: none;
}

#table-of-content .active+.list-group {
  display: flex;
  padding-bottom: 10px;
}

.post-tail {
  margin-top: .5em;
  font-family: "Roboto Condensed", -apple-system, "Helvetica Nueue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #888;
  font-size: .85em;
}

.post-tail a {
  color: inherit;
}

.post-tail a:hover {
  text-decoration: none;
}

.comments {
  margin-top: 2em;
  padding-top: .5em;
  border-top: 1px rgba(0, 0, 0, .1) solid;
  font-size: .92em;
}

#totop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 1.5em;
  color: rgba(0, 0, 0, .3);
  transition: color 0.2s ease-in-out, visibility 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  -webkit-transition: color 0.2s ease-in-out, visibility 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

#totop:hover {
  color: var(--primary-color);
}

.win .yue {
  font-size: 16px;
}

#cc {
  margin: 5px 0;

}

.related,
.cc {
  border-top: 1px rgba(0, 0, 0, .1) solid;
}

.related a:hover {
  text-decoration: none;
}

.related-title {
  font-family: "Roboto Condensed", -apple-system, "Helvetica Nueue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: rgba(0, 0, 0, .3);
}

.block-code {
  margin: 1.64em 0;
}


.code-head {
  background-color: #494949;
  color: #f8f8f2;
  padding: 0 1em;
  font-size: 0.85em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.copy-code {
  float: right;
  cursor: pointer;
}

.copy-code::after {
  font-family: FontAwesome;
  content: "\f0c5";
  margin-left: .5em;
}

blockquote.centerquote {
  text-align: center;
  margin-left: 0;
  border-left: none;
  padding: 1em 0;
  border-top: 1px dashed #c3c3c3;
  border-bottom: 1px dashed #c3c3c3;
  position: relative;
}

blockquote.centerquote::before,
blockquote.centerquote::after {
  position: absolute;
  display: block;
  font-family: FontAwesome;
  font-size: 1.5em;
  color: #ccc;
}

blockquote.centerquote::before {
  content: "\f10d";
  top: -5px;
}

blockquote.centerquote::after {
  content: "\f10e";
  right: 0;
  bottom: -8px;
}

#main .post-tags a {
  font-size: 14px;
  color: rgba(0, 0, 0, .3);
  display: inline-block;
  padding: 2px 5px;
  border: none;
}

.post-tags a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, .75);
  border-color: rgba(0, 0, 0, .75);
}

.post-tags a::before {
  content: "#";
  font-weight: 900;
  color: rgba(0, 0, 0, .1);
  margin-right: 1px;
}

.post-tags a:hover::before {
  color: rgba(0, 0, 0, .5);
}

#donate-qrcode img {
  max-width: 100%;
  max-height: 425px;
}

#copyright {
  margin-bottom: .5em;
  font-size: .85em;
}

.comments .CodeMirror, .comments .CodeMirror-scroll {
  min-height: auto;
  height: 120px;
}

.comment-item {
  border-top: 1px #eee solid;
}

.comment-item .gravatar {
  width: 40px;
}

.comment-item .media-body time {
  font-size: 0.8em;
  color: #888;
}

.comment-item .media-body:hover .comment-hidden {
  display: inline-block!important;
}

.comment-item a.person-link {
  border: none!important;
}
