body {
  margin: 0;
  background: #f5f5f5;
  font-family: Roboto, -apple-system, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  font-weight: normal;
  position: relative;
}

.heading {
  font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.light {
  font-weight: 300;
}

.site-des {
  margin-top: 1rem;
}

@media (min-width: 992px) {
  nav.navbar {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.navbar.navbar-light {
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.cover {
  display: flex;
  height: 100vh;
  width: 100%;
  background: center center no-repeat;
  background-size: cover;
  text-align: center;
}

.float-section {
  position: absolute;
  z-index: 9999;
}

img.avatar {
  border: white 3px solid;
  border-radius: 50%;
  width: 120px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.footer {
  padding: 18px 0;
  color: #aaa;
  background-color: #e8e8e8;
}

.page-links a:not(.btn) {
  color: inherit;
  transition: color .2s;
}

.page-links .yue a {
  border-bottom: 1px solid #ccc;
}

.page-links a:not(.fa):not(.btn):hover {
  text-decoration: none;
  border-bottom: none;
  color: var(--primary-color);
}

.footer p {
  margin-bottom: 0;
}

.social-links>li,
.copyright>li {
  display: inline-block;
}

.social-links,
.copyright {
  padding: 0
}

@media (min-width: 992px) {
  .links {
    font-size: 2em;
  }
}

#navbarNavAltMarkup {
  flex-grow: 1;
}

.social-links {
  font-size: 1.75em;
}

@media (min-width: 992px) {
  .copyright>li+li {
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px solid #dddddd;
  }
}

.navbar-dark .social-item {
  color: rgba(255, 255, 255, .5);
}

.navbar-dark a.social-item:hover {
  color: rgba(255, 255, 255, .8);
  text-decoration: none;
}

.navbar-light .social-item {
  color: rgba(0, 0, 0, .5);
}

.navbar-light a.social-item:hover {
  color: rgba(0, 0, 0, .8);
  text-decoration: none;
}

.blog-head-logo {
  display: inline-block;
  margin-bottom: 1rem;
}

.divider {
  width: 90%;
  max-width: 100px;
  margin: 32px auto;
  border: 0 none;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.post-meta {
  color: rgba(0, 0, 0, .4);
  transition: color 0.2s ease-in-out;
  font-size: 14px;
}

.post-info h3 {
  font-size: 1.5em;
}

.post-cat {
  color: inherit;
  margin-left: 1em;
  border: none !important;
}

.post-cat:hover {
  color: inherit;
  text-decoration: none;
}

.post-meta time {
  font-weight: 300;
  font-family: "Roboto Condensed", -apple-system, "Helvetica Nueue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.post-meta .post-author {
  font-weight: 600;
  margin-left: 4px;
}

.post-meta .post-author::before {
  content: "/";
  color: rgba(0, 0, 0, .1);
  margin-right: 3px;
}

.post-info {
  margin-bottom: 50px;
}

.post-item-content {
  margin-top: 0.5em;
}

.post-item-content .post-item-title {
  font-weight: 600;
}

.post-item-content .post-item-subtitle {
  color: rgba(0, 0, 0, .45);
  font-weight: 300;
}

.post-info a:hover {
  text-decoration: none;
}

.post-item-image {
  width: 35%;
}

.post-item-image>a {
  border-bottom: none !important;
}

.post-item-image figure {
  width: 100%;
  padding-top: 75%;
  background: center center no-repeat;
  background-size: cover;
}

#main {
  min-height: 80vh;
}

.paginate {
  padding: 20px 0;
}

.paginate a {
  visibility: hidden;
  font-size: .85em;
  display: block;
  padding: 8px 12px;
  border: 1px rgba(0, 0, 0, .3) solid;
  border-radius: 100px;
  color: rgba(0, 0, 0, .3);
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.paginate a:hover {
  text-decoration: none;
  border-color: var(--primary-color);
  border-bottom: solid 1px !important;
}

#tag-cloud a {
  background-color: #cccccc;
  display: inline-block;
  padding: 2px 8px;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  margin-bottom: 5px;
  color: white;
  border: none;
}

#tag-cloud a:hover {
  text-decoration: none;
  color: white;
}

#tag-cloud a.active {
  font-weight: 600;
}

@media (max-width: 900px) {
  .bio>h1 {
    font-size: 3em;
  }

  .bio>img {
    width: 30%;
  }
}

.right-section {
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  padding: 15px 10px;
}

.right-section+.right-section {
  margin-top: 1em;
}

.cat-list {
  padding-left: 0;
}

.cat-list > li {
  padding: 5px 10px 5px 15px;
  display: block;
}

.center-box {
  background-color: white;
  margin-bottom: 50px;
  z-index: 120;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
  padding-top: 50px;
  padding-bottom: 50px;
}

.page-head {
  height: 480px;
  background: url(/static/images/postcover.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 992px) {
  .page-head {
    margin-bottom: 20px;
  }
}

.shade {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 29;
  background-color: rgba(0, 0, 0, .3);
}

.blog-info {
  z-index: 99;
  color: white;
  text-align: center;
}

nav.navbar {
  transition: transform .3s;
}

nav.navbar.hide {
  transform: translate(0, -100%);
}

input[name=search] {
  background-color: transparent;
  border: none;
  border-radius: 0;
  transition: all .3s;
}

input[name=search]:focus {
  background-color: inherit;
  border: inherit;
  outline: none;
  box-shadow: none;
}

.navbar-light input[name=search]:hover {
  border-bottom: 2px solid rgba(0, 0, 0, .7);
}

.navbar-light input[name=search]:focus {
  color: black;
  border-bottom: 2px solid rgba(0, 0, 0, .7);
}

.navbar-dark input[name=search]:focus {
  color: white;
  border-bottom: 2px solid rgba(255, 255, 255, .7);
}

.navbar-dark input[name=search]:hover {
  border-bottom: 2px solid rgba(255, 255, 255, .7);
}

.btn-primary {
  background-color: var(--primary-color)!important;
  border-color: var(--primary-color)!important;
}
