<!doctype html>
<html lang="{% block lang %}{{g.site.locale}}{% endblock %}" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{% block title %}{{page.title}}{% endblock %} | {{g.site.name}}</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="alternate" type="application/atom+xml" title="{{g.site.name}} atom feed" href="{{ url_for('feed') }}">
  <meta name="description" content="{% block description %}{{ g.site.description }}{% endblock %}">
  <meta property="og:site_name" content="{{ g.site.name }}">
  <meta property="og:type" content="{% block ogtype %}website{% endblock %}">
  <meta property="og:title" content="{{self.title()}}">
  <meta property="og:description" content="{{self.description()}}">
  <meta property="og:url" content="{{ request.url }}">
  <meta property="og:image" content="{% block ogimg %}{{ url_for('static', filename='images/favicon.png', _external=True) }}{% endblock %}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{{ self.ogimg() }}">
  {% for item in g.site.sociallinks if item.name|lower == 'twitter' %}
    <meta name="twitter:creator" content="@{{ item.link.split('/')|last }}">
    <meta name="twitter:site" content="@{{ item.link.split('/')|last }}">
  {% endfor %}
  <link rel="canonical" href="{{ request.url }}">
  {% include 'partials/head.html' %}
  {% block extracss %}
  {% endblock %}
  <style>:root {--primary-color: {{ g.site.primary_color|default('black') }};}</style>
</head>

<body>

  {% block mainbody %}{% endblock %}

  {% block footer %}
  <footer class="footer text-center page-links">
    {% include 'partials/social_links.html' %}
    <ul class="copyright">
      <li>Powered by <a href="https://palletsprojects.com/p/flask/" target="_blank">Flask</a></li>
      <li>&copy;{{g.site.start_from}}-{{current_time.year}}<i class="fa fa-heart mx-2" style="color: var(--primary-color)"></i><a href="{{g.site.url}}">{{g.site.owner}}</a></li>
      {% if g.site.icp %}
      <li><a href="http://beian.miit.gov.cn/" target="_blank">{{g.site.icp}}</a></li>
      {% endif %}
    </ul>
  </footer>
  {% endblock %}

  {% block scripts %}
    {% include 'partials/scripts.html' %}
  {% endblock %}
  {% block extrajs %}{% endblock %}
</body>
