<!doctype html>
<html lang="{% block lang %}{{g.site.locale}}{% endblock %}" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    {%-if request.endpoint == 'home'-%}
      {{ g.site.name }}
    {%-else-%}
      {% block title %}{{page.title}}{% endblock %} | {{g.site.name}}
    {%-endif-%}
  </title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="alternate" type="application/atom+xml" title="{{g.site.name}} atom feed" href="{{ url_for('feed') }}">
  <meta name="description" content="{% block description %}{{ g.site.description }}{% endblock %}">
  <meta property="og:site_name" content="{{ g.site.name }}">
  <meta property="og:type" content="{% block ogtype %}website{% endblock %}">
  <meta property="og:title" content="{{self.title()}}">
  <meta property="og:description" content="{{self.description()}}">
  <meta property="og:url" content="{{ request.url }}">
  <meta property="og:image" content="{% block ogimg %}{{ url_for('static', filename='images/favicon.png', _external=True) }}{% endblock %}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{{ self.ogimg() }}">
  {% for item in g.site.sociallinks if item.name|lower == 'twitter' %}
    <meta name="twitter:creator" content="@{{ item.link.split('/')|last }}">
    <meta name="twitter:site" content="@{{ item.link.split('/')|last }}">
  {% endfor %}
  <link rel="canonical" href="{{ request.url }}">
  {% include 'partials/head.html' %}
  {% block extracss %}
  {% endblock %}
  <style>:root {--primary-color: {{ g.site.primary_color|default('black') }};}</style>
</head>

<body>
  <div id="page-wraper">
    <!-- Sidebar Menu -->
    <div class="responsive-nav">
      <i class="fa fa-bars" id="menu-toggle"></i>
      <div id="menu" class="menu">
        <i class="fa fa-times" id="menu-close"></i>
        <div class="container">
          <div class="image">
            <a href="#"><img src="{{ g.site.avatar }}" alt="" /></a>
          </div>
          <div class="author-content">
            <h4>{{ g.site.name }}</h4>
            <span>{{ g.site.description }}</span>
          </div>
          <nav class="main-nav" role="navigation">
            <ul class="main-menu">
              <li {% if request.endpoint == 'home' %}class="active"{% endif %}><a href="{{ url_for('home') }}">{{_('Articles')}}</a></li>
              <li {% if request.endpoint == 'archive' %}class="active"{% endif %}><a href="{{ url_for('archive') }}">{{_('Archive')}}</a></li>
              {% for item in pages %}
                {% if item.display %}
                <li {% if request.path == '/' + item.slug %}class="active"{% endif %}><a href="/{{ item.slug }}">{{_(item.title)|title}}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </nav>
          <div class="social-network">
            <ul class="social-icons">
              {% for item in g.site.sociallinks %}
              <li>
                <a href="{{item.link}}" target="_blank" title="{{item.name}}">
                  {% if not item.icon %}
                    {% set iconclass="fa fa-fw fa-globe" %}
                  {% elif item.icon.startswith('iconfont') %}
                    {% set iconclass="iconfont icon-%s" % item.icon.split('||')[1] %}
                  {% else %}
                    {% set iconclass="fa fa-fw fa-%s" % item.icon %}
                  {% endif %}
                  <i class="{{iconclass}}"></i>
                </a>
              </li>
              {% endfor %}
              <li><a href="{{url_for('feed')}}" title="RSS"><i class="fa fa-fw fa-rss"></i></a></li>
            </ul>
          </div>
          <div class="copyright-text">
            <p>Copyright &copy; {{g.site.start_from}}-{{current_time.year}} {{g.site.owner}}<br>
              {% if g.site.icp %}<a href="http://beian.miit.gov.cn/" target="_blank">{{g.site.icp}}</a>{% endif %}</p>
          </div>
        </div>
      </div>
    </div>

    <section class="section">
      {% block mainbody %}{% endblock %}
    </section>
  </div>
  {% block additional %}{% endblock %}
  {% block scripts %}
    {% include 'partials/scripts.html' %}
  {% endblock %}
  <script>
    window.lazyLoadOptions = {
      elements_selector: ".lazy",
      // ... more custom settings?
    };
  </script>
  {% block extrajs %}{% endblock %}
</body>
