{% extends '_layout.html' %}


{% block mainbody %}
  {% block nav %}
  <nav class="navbar fixed-top navbar-expand-lg {% block navstyle %}navbar-dark{% endblock %}" data-aos="fade-in">
    {% include '_partials/nav.html' %}
  </nav>
  {% endblock %}

  <section class="container-fluid page-head lazy" data-aos="fade-in" {%block coverstyle %}{% endblock %}>
    <div class="shade"></div>
    {% block pagehead %}{% endblock %}
  </section>
  {% block pagebody %}
  <section class="main" id="main">
    <div class="container">
      <div class="row">
        <div class="col-12 {% block center_col %}col-lg-8{% endblock %} px-lg-5 center-box" data-aos="fade-up">
          {% block content %}
          {% endblock %}
        </div>
        <div class="col-12 {% block right_col %}col-lg-4{% endblock %}" data-aos="fade-left">
          {% block rightside %}
          {% endblock %}
        </div>
      </div>
    </div>
    {% block additional %}{% endblock %}
  </section>
  {% endblock %}
{% endblock %}
