<!doctype html>
<html lang="{% block lang %}{{g.site.locale}}{% endblock %}" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{% block title %}{{page.title}}{% endblock %} | {{g.site.name}}</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="alternate" type="application/atom+xml" title="{{g.site.name}} atom feed" href="{{ url_for('feed') }}">
  <meta name="description" content="{% block description %}{{ g.site.description }}{% endblock %}">
  <meta property="og:site_name" content="{{ g.site.name }}">
  <meta property="og:type" content="{% block ogtype %}website{% endblock %}">
  <meta property="og:title" content="{{self.title()}}">
  <meta property="og:description" content="{{self.description()}}">
  <meta property="og:url" content="{{ request.url }}">
  <meta property="og:image" content="{% block ogimg %}{{ url_for('static', filename='images/favicon.png') }}{% endblock %}">
  <meta property="og:image:width" content="600">
  <meta property="og:image:height" content="600">
  {% if g.site.twitter %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@{{ g.site.twitter }}">
  {% endif %}
  <link rel="canonical" href="{{ request.url }}">
  {% include '_partials/head.html' %}
  {% block extracss %}
  {% endblock %}
</head>

<body>

  {% block mainbody %}{% endblock %}

  {% block footer %}
  <footer class="footer text-center">
    {% include '_partials/social_links.html' %}
    <ul class="copyright">
      <li>{{_('Powered by Flog')}}</li>
      <li><a href="https://frostming.com">Frost Ming</a>&copy;2016-{{current_time.year}} {{_('All rights reserved')}}</li>
    </ul>
  </footer>
  {% endblock %}

  {% block scripts %}
    {% include '_partials/scripts.html' %}
  {% endblock %}
  {% block extrajs %}{% endblock %}
</body>
