{% extends '_page.html' %}
{% from '_partials/disqus.html' import disqus with context %}


{% block center_col %}{% endblock %}
{% block right_col %}d-none{% endblock %}
{% block content %}
<article itemscope itemtype="http://schema.org/Article">
  {% if page.ptype == "markdown"-%}<div class="post-text yue" itemprop="content">{%-endif %}
    {{ page.html | safe }}
  {% if page.ptype == "markdown"-%}</div>{%-endif %}
</article>
{{ disqus(page) }}
{% endblock %}

{% block additional %}
  <a id="totop" title="Return to the top" class="invisible" href="javascript:void(0)"><i class="fa fa-fw fa-arrow-up"></i></a>
{% endblock %}
