{% extends '_page.html' %}
{% from '_partials/comments.html' import disqus with context %}
{% from '_partials/comments.html' import render_comments with context %}

{% block lang %}{{post.lang}}{% endblock %}
{% block title %}{{post.title}}{% endblock %}
{% block ogtype %}article{% endblock %}
{% block description %}{%-if post.description %}{{post.description}}{%-endif %}{% endblock %}
{% block ogimg %}{%-if post.image %}{{post.image}}{%-endif %}{% endblock %}
{% block extracss %}
<meta name="weibo:article:create_at" content="{{post.date|date('%Y-%m-%dT%H:%M:%SZ')}}">
<meta name="weibo:article:update_at" content="{{post.last_modified|date('%Y-%m-%dT%H:%M:%SZ')}}">
<meta name="keywords" content="{{post.tags|join(', ', 'text')}}">
<meta name="author" content="{{post.author}}">
<meta itemscope="" itemprop="pageEntity" itemtype="https://schema.org/WebPage" itemid="{{request.url}}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photoswipe@4.1.2/dist/photoswipe.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photoswipe@4.1.2/dist/default-skin/default-skin.css">
<script src="https://cdn.staticfile.org/highlight.js/9.12.0/highlight.min.js"></script>
<script>
  hljs.initHighlightingOnLoad();

</script>
{% endblock %}

{% block center_col %}col-lg-9{% endblock %}
{% block right_col %}col-lg-3{% endblock %}

{% block coverstyle %}
{% if post.image %}data-bg="url({{post.image}})"{% endif %}
{% endblock %}

{% block rightside %}
{% if post.toc %}
<div class="post-toc sticky-top">
  <div class="toc-head">
    {{_('TABLE OF CONTENTS')}}
  </div>
  {{ post.toc | safe }}
</div>
{% endif %}
{% endblock %}

{% block content %}
<article itemscope itemtype="http://schema.org/Article">
  <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
    <meta itemprop="url" content="{{ post.image }}">
  </div>
  <div class="d-lg-flex justify-content-between align-items-center">
    <div class="post-meta">
      <time datetime="{{post.date}}" itemprop="datePublished">{{ moment(post.date).format('ll') }}</time>
      {% if post.author %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="post-author" itemprop="name">{{post.author}}</span>
      </span>
      {% endif %}
    </div>
    <meta itemprop="keywords" content="{{ post.tags|map(attribute='text')|join(',') }}">
    <div class="post-tags">
      {% for tag in post.tags %}
      <a href="{{tag.url}}">{{tag.text}}</a>
      {% endfor %}
    </div>
  </div>
  <h1 class="post-title" itemprop="headline">{{post.title}}</h1>
  <div class="post-subtitle" itemprop="subtitle">{% if post.description %}{{post.description}}{% endif %}</div>
  <div class="post-text yue" itemprop="articleBody">
    {{ post.html | safe }}
  </div>
  <div class="post-tail">
    {{_('Last edited')}} <time datetime="{{post.last_modified}}" itemprop="dateModified">{{moment(post.last_modified).fromNow()}}</time>
  </div>
</article>
<div class="cc text-center p-2">
  <div id="copyright">{{_('Post Link')}}: <a href="{{request.url}}">{{request.url}}</a><br/>
  <i class="fa fa-cc"></i> {{_('This work is released under ')}}<a rel="license"
    itemprop="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA{{_(' License. ')}}</a></div>
  {% if g.site.donate %}
  <div>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#donate-qrcode" aria-expanded="false" aria-controls="donate-qrcode">
      <i class="fa fa-heart"></i> {{_('Donate')}}
    </button>
  </div>
  <div id="donate-qrcode" class="collapse"><img src="{{ g.site.donate }}"></div>
  {% endif %}

</div>
{% set related = post.related_post() %}
{% if related %}
<section class="related">
  <div class="related-title">{{_('RELATED POST')}}</div>
  <div class="post-item-content">
    <a href="{{related.url}}">
      <h4 class="post-item-title">{{related.title}}</h4>
    </a>
    {% if related.description %}
    <a href="{{related.url}}">
      <p class="post-item-subtitle lead">{{related.description}}</p>
    </a>
    {% endif %}
  </div>
</section>
{% endif %}
{% if not config.DEBUG and post.comment and integration.disqus and integration.disqus.enabled %}
{{ disqus(post) }}
{% endif %}
{% if post.comment %}
{{ render_comments(post, comments, comments_count) }}
{% endif %}
{% endblock %}

{% block additional %}
{% include '_partials/pswp.html' %}
<a id="totop" title="Return to the top" class="invisible" href="javascript:void(0)"><i
    class="fa fa-fw fa-arrow-up"></i></a>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-574571fdae7f0521"></script>
<script src="https://cdn.jsdelivr.net/npm/photoswipe@4.1.2/dist/photoswipe.min.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/photoswipe@4.1.2/dist/photoswipe-ui-default.min.js" charset="utf-8"></script>
{% include '_partials/math.html' %}
{% endblock %}
