{% macro render_posts(posts) %}
  {% for post in posts %}
  <div class="post-info d-flex align-items-center justify-content-between" data-type="article">
    <div flex="1">
      <div class="post-meta">
        <time datetime="{{post.date}}">{{ moment(post.date).format('ll') }}</time>
      </div>
      <div class="post-item-content">
        <a href="{{post.url}}">
          <h3 class="post-item-title">{{post.title}}</h3>
        </a>
        {% if post.description %}
        <a href="{{post.url}}">
          <p class="post-item-subtitle lead">{{post.description}}</p>
        </a>
        {% endif %}
      </div>
    </div>
    {% if post.image %}
      <div class="post-item-image">
        <a href="{{post.url}}">
          <img src="{{post.image}}" alt="{{post.title}}">
        </a>
      </div>
    {% endif %}
  </div>
  {% endfor %}
{% endmacro %}

{% macro seo(title) %}
  <meta name="flog" content="{{ site.user }}">
  <meta name="description" content="{{ site.description }}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{title|capitalize}}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:url" content="{{ request.url }}">
  <meta property="og:image" content="{{ site.favicon }}">
  <meta property="og:image:width" content="600">
  <meta property="og:image:height" content="600">
  {% if site.twitter %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@{{ site.twitter }}">
  {% endif %}
  <link rel="canonical" href="{{ request.url }}">
{% endmacro %}
