{% extends 'admin/model/edit.html' %}
{% block head %}
  <link rel="stylesheet" href="https://cdn.bootcss.com/simplemde/1.11.2/simplemde.min.css">
  <style>
    .CodeMirror, .CodeMirror-scroll {
      min-height: 80vh;
    }
  </style>
{% endblock %}

{% block navlinks %}
<ul class="nav nav-tabs">
  <li class="nav-item">
      <a class="nav-link" href="{{ return_url }}">{{ _gettext('List') }}</a>
  </li>
  {%- if admin_view.can_create -%}
  <li class="nav-item">
      <a class="nav-link" href="{{ get_url('.create_view', url=return_url) }}">{{ _gettext('Create') }}</a>
  </li>
  {%- endif -%}
  <li class="nav-item">
      <a class="nav-link active" href="javascript:void(0)">{{ _gettext('Edit') }}</a>
  </li>
  {%- if admin_view.can_view_details -%}
  <li class="nav-item">
      <a class="nav-link" href="{{ get_url('.details_view', id=request.args.get('id'), url=return_url) }}">{{ _gettext('Details') }}</a>
  </li>
  {%- endif -%}
</ul>
{% endblock %}

{% block tail %}
  {{ super() }}
  <script src="https://cdn.bootcss.com/simplemde/1.11.2/simplemde.min.js" charset="utf-8"></script>
  <script type="text/javascript">
    var simplemde = new SimpleMDE({
      element: $("[data-role='mdeditor']")[0],
      autosave: {
        enabled: true,
        uniqueId: 'post-{{model.id}}',
        delay: 30000,
      },
      spellChecker: false
    });
    $('[data-role="select2-free"]').each(function(){
      $(this).select2({tags: true});
    });
  </script>
  {% if config.ENABLE_COS_UPLOAD %}
  <script>
    window.cosConfig = {
      bucket: '{{config.COS_BUCKET}}',
      region: '{{config.COS_REGION}}'
    }
  </script>
  <script src="{{url_for('static', filename='js/cos-js-sdk-v5.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/cos-upload.js')}}"></script>
  {% endif %}
{% endblock %}
