<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{{_('Flog Admin')}} | {% block title %}{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="stylesheet" href="{{ g.site.cdn.bootstrapcss }}">
  <link rel="stylesheet" href="{{ g.site.cdn.fontawesome }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
  <script src="{{ g.site.cdn.jquery }}" crossorgin="anonymous"></script>
  {{ moment.include_moment(local_js=g.site.cdn.moment) }}
  {% if g.site.locale.startswith("zh") %}
    {{ moment.lang('zh-cn') }}
  {% endif %}
  {% block extra_head %}{% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{url_for('.posts')}}">
      <img src="{{ url_for('static', filename='images/favicon.png') }}" width="40" height="40" class="d-inline-block" alt="">
      <span class="heading">{{_('Flog Admin')}}</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-items-center justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% if current_user.is_authenticated %}
        <a href="{{url_for('.settings')}}" class="nav-item nav-link{%-if request.endpoint == 'admin.settings' %} active{% endif %}">{{_('Settings')}}</a>
        <a href="{{url_for('.logout')}}" class="nav-item nav-link">{{_('Logout')}}</a>
        {% endif %}
        <a href="/" class="nav-item nav-link">{{_('Return Home')}}</a>
      </div>
    </div>
  </nav>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% for cat, message in messages %}
      <div class="alert alert-{{cat}} alert-dismissible fade show" role="alert">
        {{ message|safe }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endwith %}
  <main class="container">
    {% block main %}{% endblock %}
  </main>
  <script src="{{ g.site.cdn.bootstrapjs }}" crossorgin="anonymous"></script>
  {% block extra_script %}{% endblock %}
</body>
