{% macro form_field(field, sr_only=False, extra_cls="") %}
{% if field.widget.input_type == 'checkbox' %}
  <div class="form-check mr-sm-2">
    {{field(class="form-check-input " + extra_cls, **kwargs)|safe}}
    {{field.label(class="form-check-label")|safe}}
  </div>
{% else %}
  {% if sr_only %}
    {{field.label(class="sr-only")|safe}}
  {% else %}
    {{field.label(class="my-1 mr-sm-2")|safe}}
  {% endif %}
  {{field(class="form-control mr-sm-2 " + extra_cls, **kwargs)|safe}}
{% endif %}
{% endmacro %}
