{% extends 'admin/layout.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'admin/libs.html' as libs %}

{% block title %}
{% if request.endpoint.endswith('new') %}
  {{_('New Post')}}
{% else %}
  {{_('Edit Post')}}
{% endif %}
{% endblock %}
{% block main %}
  <h1 class="title">{{self.title()}}</h1>
  <hr>
  <form id="write-post-form" class="form" method="post">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}
    {{ wtf.form_field(form.title, "inline", class="post-title") }}
    {{ wtf.form_field(form.content, "inline", ) }}
    {{ wtf.form_field(form.description) }}
    {{ wtf.form_field(form.image) }}
    <div class="form-inline form-group">
      {{ libs.form_field(form.author) }}
      {{ libs.form_field(form.slug, extra_cls="flex-grow-1") }}
      {{ libs.form_field(form.lang) }}
      {{ libs.form_field(form.comment) }}
    </div>
    {{ wtf.form_field(form.category) }}
    {{ wtf.form_field(form.tags) }}
    {{ form.is_draft(class='d-none') }}
    <div class="d-flex justify-content-between mb-2">
      <div class="save-btns">
        {% if request.endpoint.endswith('new') or form.is_draft.data %}
          <button type="submit" class="btn btn-primary">{{_('Post')}}</button>
          <button type="draft" class="btn btn-dark">{{_('Save Draft')}}</button>
        {% else %}
          <button type="submit" class="btn btn-primary">{{_('Save')}}</button>
        {% endif %}
      </div>
      <a href="{{url_for('.posts')}}" class="btn btn-danger">{{_('Cancel')}}</a>
    </div>
  </form>
  {% include '_partials/modal_confirm.html' %}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.css">
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.6-rc.1/dist/css/select2.min.css" rel="stylesheet" />
<style>
.CodeMirror, .CodeMirror-scroll {
    min-height: 80vh;
}
</style>
{% endblock %}

{% block extra_script %}
<script src="https://cdn.jsdelivr.net/npm/simplemde@1.11.2/src/js/simplemde.min.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.6-rc.1/dist/js/select2.min.js"></script>
<script>
var simplemde = new SimpleMDE({
  element: $("[data-role='mdeditor']")[0],
  spellChecker: false
});

$('select[data-role=select2]').select2({
  tags: true
})

$('.btn-danger').click(function(){
  var $btn = $(this)
  modalConfirm("{{_('Are you sure to quit without saving the draft?')}}", function(confirm){
    if (confirm) {
      location.href = $btn.attr('href')
    }
  });
  return false;
});
window.cosConfig = {
  bucket: '{{config.COS_BUCKET}}',
  region: '{{config.COS_REGION}}'
};
$('.save-btns button').click(function(e){
  e.preventDefault();
  this.form.is_draft.checked = (this.getAttribute('type') === 'draft');
  this.form.submit();
});
</script>
<script src="{{url_for('static', filename='js/cos-js-sdk-v5.min.js')}}"></script>
<script src="{{url_for('static', filename='js/cos-upload.js')}}"></script>
{% endblock %}
