<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='iconfont/iconfont.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/yue.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dracula.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/article.css')}}">
<meta name="google-site-verification" content="{{ g.site.google_site_verification }}" />
<!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
<![endif]-->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js" crossorgin="anonymous"></script>
{{ moment.include_moment(local_js='https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js') }}
{% if g.site.locale.startswith("zh") %}
  {{ moment.lang('zh-cn') }}
{% endif %}
