<a class="navbar-brand" href="{{ url_for('home') }}">
  <img src="{{ url_for('static', filename='images/favicon.png') }}" width="40" height="40" class="d-inline-block" alt="">
  <span class="heading">{{g.site.name}}</span></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse align-items-center justify-content-between" id="navbarNavAltMarkup">
  <div class="navbar-nav">
    <a href="{{url_for('about')}}" class="nav-item nav-link">{{_('About')}}</a>
    {% for item in categories %}
      <a href="{{url_for('category', cat_id=item.id)}}" class="nav-item nav-link">{{_(item.text)|title}}</a>
    {% endfor %}
  </div>
</div>
