<script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js" crossorgin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js" crossorgin="anonymous"></script>
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>
{% assets filters='jsmin', output='dist/flog.js', 'js/flog.js' %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
