{% extends 'layout.html' %}
{% block title %}{{_("Your comment in post '%(title)s' has got a new reply", title=comment.post.title)}}{% endblock %}
{% block content %}
<h3>{{ reply_to.author.display_name }}</h3>
<time datetime="{{reply_to.create_at}}" itemprop="datePublished">{{ reply_to.create_at.strftime('%Y-%m-%d %H:%M:%S') }}</time>
<div class="reply_to">
  {{ reply_to.html |safe }}
</div>
<hr>
<h3>{{ comment.author.display_name }}</h3>
<time datetime="{{comment.create_at}}" itemprop="datePublished">{{ comment.create_at.strftime('%Y-%m-%d %H:%M:%S') }}</time>
<div class="comment">
  {{ comment.html |safe }}
</div>

<p>{{_('Please go to ')}}<a href="https://{{config.SERVER_NAME}}{{comment.post.url}}">https://{{config.SERVER_NAME}}{{comment.post.url}}</a>{{_(' for more information')}}</p>
{% endblock %}
