{% extends 'page.html' %}
{% import '_partials/helper.html' as helper with context %}

{% block extclass %}has-bg{% endblock %}

{% block pagehead %}
<section class="blog-head">
  <a href="/" class="blog-head-logo">
    <img class="avatar" src="{{ site.avatar }}" alt="{{ site.name }}">
  </a>
  <h1 class="heading">{{site.name}}</h1>
  <div class="divider"></div>
</section>
{% endblock %}


{% block pagebody %}
<div class="container d-lg-flex">
  <div class="col-12 col-lg-8">
    {% if tag %}
      <h2><i class="fa fa-fw fa-tag"></i> {{tag.text}}</h2>
      <hr/>
    {% endif %}
    {{ helper.render_posts(posts) }}

    {% if paginate %}
    <div class="paginate d-flex justify-content-between">
      <a href="{{url_for('blog', page=paginate.prev_num)}}"
      {% if paginate.has_prev %} style="visibility: visible;"{% endif %}>
        <i class="fa fa-fw fa-angle-left"></i> {{_('Newer Posts')}}
      </a>
      <a href="{{url_for('blog', page=paginate.next_num)}}"
      {% if paginate.has_next %} style="visibility: visible;"{% endif %}>
        {{_('Older Posts')}} <i class="fa fa-fw fa-angle-right"></i>
      </a>
    </div>
    {% endif %}
  </div>
  <div class="col-12 col-lg-4 blog-right">
    <h2>{{_('Tags')}}</h2>
    <div class="post-tags" id="tag-cloud">
      {% for tag, heat in tag_cloud %}
        <a href="{{tag.url}}" rel="{{heat}}">
          {{tag.text}}
        </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  if($('#tag-cloud').length !== 0) {
    async('{{url_for("theme.static", filename="tagcloud.js")}}', function(){
      $.fn.tagcloud.defaults = {
          //size: {start: 1, end: 1, unit: 'em'},
          color: {start: '#4c98ca', end: '#d24848'},
      };
      $('#tag-cloud > a').tagcloud();
    })
  }
</script>
{% endblock %}
