{% extends 'layout.html' %}

{% block mainbody %}
<div class="cover text-light" style="background-image: url('{{site.cover_url}}')">
  <div class="mx-auto my-auto">
    <div class="bio">
      <img class="avatar" src="{{ site.avatar }}" alt="{{ site.name }}">
      <h1 class="display-3 heading">{{ site.name }}</h1>
      <p class="lead site-des">{{ site.description }}</p>
    </div>
    <div class="links lead">
      {% for item in site.navlinks %}
        <a href="{%-if item.url == 'internal' %}{{url_for(item['name'].lower())}}{%-else %}{{item.url}}{%endif%}" class="btn btn-outline-light">{{_(item.name)|title}}</a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block footercls %}fixed-bottom{% endblock %}
