<!doctype html>
{% from '_partials/helper.html' import seo with context %}
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{% block title %}{{page.title|capitalize}}{% endblock %} | {{site.name}}</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="alternate" type="application/atom+xml" title="{{site.name}} atom feed" href="{{ url_for('feed') }}">
  {{ seo(self.title()) }}
  {% include '_partials/head.html' %}
  {% block extracss %}
  {% endblock %}
</head>

<body>

  {% block mainbody %}{% endblock %}

  {% block footer %}
  <footer class="footer {% block footercls %}{% endblock %}">
    {% include '_partials/footer.html' with context %}
  </footer>
  {% endblock %}

  {% block scripts %}
    {% include '_partials/scripts.html' %}
  {% endblock %}
  {% block extrajs %}{% endblock %}
</body>
