{% extends 'layout.html' %}


{% block mainbody %}
{% block nav %}
<nav class="navbar fixed-top navbar-expand-lg {% block navstyle %}navbar-light{% endblock %} {% block extclass %}{% endblock %}">
  {% include '_partials/nav.html' %}
</nav>
{% endblock %}


<div class="main {{ self.extclass() }}" id="main" itemscope itemtype="http://schema.org/Article">
  <meta itemscope="" itemprop="mainEntityOfPage" itemtype="https://schema.org/WebPage" itemid="{{request.url}}">
  {% block pagehead %}{% endblock %}
  <section role="main">
    <div class="container-fluid d-flex justify-content-center">
      <div class="col d-none d-lg-block">
        {% block leftside %}
        {% endblock %}
      </div>
      <div class="col-12 col-md-9 col-xl-6">
        {% block centercontent %}
        {% endblock %}
      </div>
      <div class="col d-none d-lg-block">
        {% block rightside %}
        {% endblock %}
      </div>
    </div>
  </section>
  {% block additional %}{% endblock %}
</div>
{% endblock %}
