{% extends 'layout.html' %}


{% block mainbody %}
  {% block nav %}
  <nav class="navbar fixed-top navbar-expand-lg {% block navstyle %}navbar-light{% endblock %} {% block extclass %}{% endblock %}">
    {% include '_partials/nav.html' %}
  </nav>
  {% endblock %}

  {% block pagehead %}{% endblock %}
  {% block pagebody %}
  <section class="main {{ self.extclass() }}" id="main" itemscope itemtype="http://schema.org/Article">
    <meta itemscope="" itemprop="mainEntityOfPage" itemtype="https://schema.org/WebPage" itemid="{{request.url}}">
    <div class="container" id="post-container">
      <div class="row">
        <div class="col-12 col-lg-9">
          {% block content %}
          {% endblock %}
        </div>
        <div class="col d-none d-lg-block">
          {% block rightside %}
          {% endblock %}
        </div>
      </div>
    </div>
    {% block additional %}{% endblock %}
  </section>
  {% endblock %}
{% endblock %}
