{% extends 'page.html' %}
{% import '_partials/helper.html' as helper with context %}

{% block pagehead %}
<section class="blog-head">
  <h1 class="heading">{{_('Tags')}}</h1>
</section>
{% endblock %}

{% block centercontent %}
<div class="post-tags" id="tag-cloud">
  {% for tag, heat in tag_cloud %}
    <a href="#{{tag.text|slugify}}" rel="{{heat}}">
      {{tag.text}}
    </a>
  {% endfor %}
</div>
<div class="divider"></div>
{% for tag, heat in tag_cloud %}
  <div id="{{tag.text|slugify}}" class="tag-posts d-none">
    <h2><i class="fa fa-fw fa-tag"></i> {{tag.text}}</h2>
    {{ helper.render_posts(tag.posts) }}
  </div>
{% endfor %}

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  if($('#tag-cloud').length !== 0) {
    async('{{url_for("theme.static", filename="tagcloud.js")}}', function(){
      $.fn.tagcloud.defaults = {
          //size: {start: 1, end: 1, unit: 'em'},
          color: {start: '#bcbcbc', end: '#2e2e2e'},
      };
      $('#tag-cloud > a').tagcloud();
    })
  }

  $(function() {
    if(location.hash){
      $(`[href="${location.hash}"]`).addClass('.active');
      $(location.hash).removeClass('d-none');
    }

    $('#tag-cloud > a').on('click', function(e) {
      e.preventDefault();
      var $previous = $('#tag-cloud > a.active');
      $previous.removeClass('active');
      $(this).addClass('active');
      $($previous.attr('href')).addClass('d-none');
      var href = $(this).attr('href');
      $(href).removeClass('d-none');
    });
  });

</script>
{% endblock %}
